ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
li{
    list-style: none;
    padding: .8em;
    min-width: 50%;
    box-sizing: border-box;
}

.bts{
  margin-top: 2%;
  margin-right: -200px;

}
.button{
    display: block;
    width: 550px;
    background-color: #00BFFF;
    color: #2F4F4F;
    font-size: 1.5em;
    text-align: center;
    border-radius: 4px;
    padding: 1em;
    box-sizing: border-box;
    font-family: Open Sans;
}

.button:hover{
    background-color: #87CEEB;
}

a{
    text-decoration: none;
}
.subtitulo{
  padding-top: 1cm;
  text-align: center;
  font-size: 30px;
  font-family: Open Sans;
  color:  #008080;
}
