<div fxLayout = "row" fxLayoutAlign = "space-around center">
    <h4 class="subtitulo"> Consultas DATAPOA</h4>
      <div>
        <ul>
          <li class="bts">
              <a class="button" [routerLink] = "['/linha']">
                 Linha
              </a>
          </li>
  
          <li class="bts">
              <a class="button" [routerLink] = "['/lotacao']">
                  Lotação
              </a>
          </li>
      </ul>
    </div>
  </div>
  
