<h2 class="titulo">Consulta Itinerário</h2>
<div class="d-flex flex-row-reverse bd-highlight mb-2">
  <div class="p-2 bd-highlight">
    <select (change)="onTableSizeChange($event)" class="custom-select">
      <option *ngFor="let size of tableSizes" [ngValue]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Id Linha</th>
        <th scope="col">Nome </th>
        <th scope="col"> Código</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ itinerario.idlinha }}</td>
        <td> {{ itinerario.nome }}</td>
        <td> {{ itinerario.codigo }}</td>
      </tr>
      <tr *ngFor="let item of itinerario.latLon | paginate : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
          };">
        <td scope="row">{{item.lat}}</td>
        <td scope="row">{{item.lng}}</td>
        <td scope="row"> <a class="button" (click)="visualizarGoogleMaps(item.lat, item.lng)"><button type="button"
              class="btn btn-primary">Visualizar no Google Maps</button></a></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
  <button type="button" class="btn btn-primary"  [routerLink] = "['/linha']" *ngIf="telaOrigem=='linha'">Voltar</button>
  <button type="button" class="btn btn-primary"  [routerLink] = "['/lotacao']" *ngIf="telaOrigem=='lotacao'">Voltar</button>
