.table {
    border: 1px solid grey;
    width: 50% !important;
    margin: auto;
}

th {
  align-items: center;
  color: #00BFFF;
  align-items: center;
  position: relative;
}
td {
  align-items: center;
  color: #1C1C1C;
  position: relative;
}

.btn {
  align-items: center;
}

.titulo{
    font-size: 20px;
    font-family: Helvetica;
     text-align: center;
     color: 	#008080;
  }
