<div>
  <h2 class="titulo">Consulta Lotação</h2>
  <h4 class="subtitulo"> O que deseja fazer ?</h4>
  <div class="button">
    <button (click)="changeMode('list')" type="button" class="btn btn-primary">Listar todas as lotações</button>
    <button (click)="changeMode('search')" type="button" class="btn btn-primary">Pesquisar uma lotação</button>
  </div>

</div>
<div *ngIf="mode == 'list'">
  <div class="d-flex flex-row-reverse bd-highlight mb-2">
    <div class="p-2 bd-highlight">
      <button (click)="getAvisoTamanho()"><i class="fas fa-info-circle"></i></button>
      <select (change)="onTableSizeChange($event)" class="custom-select">
        <option *ngFor="let size of tableSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
  </div>

  <h4>Selecione uma lotação por nome: </h4>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <mat-select [(ngModel)]="pesquisaNome">
      <mat-option> Selecione um nome</mat-option>
      <mat-option [value]="lotacao.nome" *ngFor="let lotacao of lotacao">{{ lotacao.nome }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="mode == 'search'">
  <mat-form-field>
    <mat-label>Pesquise uma lotação:</mat-label>
    <input matInput placeholder=" Ex. ALTO TERESOPOLIS - VIA PRAIA DE BELAS" #input [(ngModel)]="pesquisaLotacao">
  </mat-form-field>
</div>

<div *ngIf="mode == 'search' || mode == 'list'">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ID </th>
        <th scope="col">Nome</th>
        <th scope="col">Código</th>
        <th scope="col">Itinerário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lotacao | filter:pesquisaNome | filter:pesquisaLotacao  | paginate : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
          };">
        <td scope="row">{{item.id}}</td>
        <td scope="row">{{item.nome}}</td>
        <td scope="row">{{item.codigo}}</td>
        <td scope="row"> <a class="button" [routerLink]="['/itinerario/'+item.id ]"
            [queryParams]="{tela: 'lotacao'}"><button type="button" class="btn btn-primary">Consultar</button></a></td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

<button type="button" class="btn btn-primary" [routerLink]="['']">Voltar</button>