table {
  width: 95%;
  margin: auto;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;

}

th {
  align-items: center;
  color: #00BFFF;
  align-items: center;
  position: relative;
  width: 25%;
}

td {
  align-items: center;
  color: #1C1C1C;
  position: relative;
  width: 25%;
}

.titulo {
  padding-top: 1cm;
  font-size: 40px;
  font-family: Helvetica;
  text-align: center;
  color: #008080;
}

.subtitulo {
  text-align: center;
  font-size: 30px;
  font-family: Helvetica;
  color: #1C1C1C;
}

.button {
  text-align: center;
  margin: 0 15px;
  padding: 1em;
}